<launch>
  <arg name="multi" default=""/>
  <arg name="arm_left"  default="True"/>
  <arg name="arm_right"  default="True"/>
  <arg name="wrist_left_model"  default="wrist-2017"/>
  <arg name="wrist_right_model"  default="wrist-2017"/>
  <arg name="end_effector_left"  default="pal-gripper"/>
  <arg name="end_effector_right"  default="pal-gripper"/>
  <arg name="ft_sensor_left"  default="schunk-ft"/>
  <arg name="ft_sensor_right"  default="schunk-ft"/>
  <arg name="laser_model"  default="sick-571"/>
  <arg name="camera_model"  default="orbbec-astra"/>
  <arg name="has_screen"  default="False"/>
  <arg name="base_type"  default="omni_base"/>
  <arg name="no_safety_eps" default="False"/>
  <arg name="description_calibration_dir" value="$(optenv pal_eye_hand_calibration_tiago_dual_calibration_path)" />
  <arg name="extrinsic_calibration_dir" value="$(optenv pal_camera_calibration_extrinsics_calibration_path)"/>
  <arg name="robot_description" default="robot_description_full"/>
  <!-- Robot description -->
  <param name="$(arg robot_description)"
    command="$(find xacro)/xacro --inorder
    '$(find tiago_dual_cartesio_config)/robots/tiago_dual.urdf.xacro'
    arm_left:=$(arg arm_left)
    arm_right:=$(arg arm_right)
    wrist_left_model:=$(arg wrist_left_model)
    wrist_right_model:=$(arg wrist_right_model)
    end_effector_left:=$(arg end_effector_left)
    end_effector_right:=$(arg end_effector_right)
    ft_sensor_left:=$(arg ft_sensor_left)
    ft_sensor_right:=$(arg ft_sensor_right)
    laser_model:=$(arg laser_model)
    camera_model:=$(arg camera_model)
    has_screen:=$(arg has_screen)
    base_type:=$(arg base_type)
    no_safety_eps:=$(arg no_safety_eps)
    description_calibration_dir:=$(arg description_calibration_dir)
    extrinsic_calibration_dir:=$(arg extrinsic_calibration_dir)
    $(arg multi)" />
	
	
    <param name="robot_description" textfile="$(find tiago_dual_cartesio_config)/capsules/urdf/tiago_dual_capsules.rviz"/>	
        
    <param name="robot_description_semantic" textfile="$(find tiago_dual_cartesio_config)/robots/tiago_dual.srdf"/>
    
    <param name="cartesian/problem_description" textfile="$(find tiago_dual_cartesio_config)/stack/tiago_dual.stack"/>
    
    <arg name="rate" default="250.0"/>
    <arg name="prefix" default=""/>
    <include file="$(find cartesian_interface)/launch/cartesio.launch">
        <arg name="rate" value="$(arg rate)"/>
        <arg name="prefix" value="$(arg prefix)"/>
        <arg name="is_model_floating_base" value="true"/>
    </include>
    
    <arg name="gui" default="true"/>
    <node if="$(arg gui)" type="rviz" name="rviz" pkg="rviz" output="screen" args="-d $(find tiago_dual_cartesio_config)/launch/viz.rviz"/>
    
    <!-- <arg name="use_postural_gui" default="true"/>
    <node if="$(arg use_postural_gui)" pkg="cartesian_interface" type="postural_gui" name="postural_gui"/> -->

    <!-- 1.57079632679 0.0 0.785398 -->
    
    <node pkg="tf" type="static_transform_publisher" name="camera_to_robot" args="0.155 -0.02 1.330 -1.570796 0.00 -2.35619 ci/world tiago_head_camera_color_optical_frame 10" />
    
    <node pkg="tf" type="static_transform_publisher" name="ciworld_to_world" args="0 0 0 0 0.0 0  world ci/world 10" />

    <!-- <node pkg="mesh_viz" type="ps_pub" name="ps_pub">
        <param name="_intermediate_frame" value="ci/world"/>
        <param name="_final_frame" value="world"/>
    </node> -->
    
    <!-- Obstacle with interactive marker -->     
      <!-- <node name="mesh_viz_floor" pkg="mesh_viz" type="mesh_viz_node" output="screen">
        <param name="mesh_path" value="/ros_ws/src/cartesio_collision_avoidance/meshes/obstacle.stl" />
        <param name="scale_x" type="double" value="1.0"/>
        <param name="scale_y" type="double" value="1.0"/>
        <param name="scale_z" type="double" value="1.0"/>
        <param name="frame_id" value="tiago_head_camera_color_optical_frame"/>
        <param name="name_id" value="floor"/>
        <param name="show_control_axis" type="bool" value="true"/>
        <remap from="mesh_viz_floor/floor" to="cartesian/collision_objects"/>
      </node>     -->
</launch>
